<!DOCTYPE html>
<html>
<head>
  <title>OkEris -- Supervillain Matchmaker</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'golden_apple_round_plain.ico' %>
  <link href='//fonts.googleapis.com/css?family=ABeeZee:400italic|Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
</header>
<% if flash[:errors] %>
  <script>

  </script>
<% end %>
<%= yield %>

</body>
</html>
